doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700")
        link(rel="stylesheet", href="css/styles.css")
        title Новикова Ирина Анатольевна
    body
        .container
            .row
                .col.text-center
                    h1 Ирина Новикова

                    span Электронная почта:
                    span.mail irina@novikova.us

                    .text-center
                        a(href="https://mail.yandex.ru/?pdd_domain=novikova.us").mail-link
                            span Вход в почту
                    .phone-info
                        span.text-center Сотовые:
                        .row
                            span.mail +7(920) 302-82-26
                        .row
                            span.mail +7(908) 280-74-25
    script(src="js/bundle.js")